@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root,
:root.light {
  /* Colours */
  --secondary: #B381C6;
  --secondary-accent: #D5B8EA;
  --btn-text: #333333;
  --base: #FFFFFF;

  /* Light theme */
  --fg: #5C5C5C;
  --fg-accent: #9691a3;
  --bg: #FFFFFF;
  --bg-accent: #E7E7E7;

  font-family: 'Inter', sans-serif;
}

:root.dark {
  /* Dark theme */
  --fg: #FFFFFF;
  --fg-accent: #E7DFFC;
  --bg: #273549;
  --bg-accent: #1F2937;
}

/* CSS Reset by Josh Comeau */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Base styling */

body {
  padding: 2em;
  display: grid;
  place-content: center center;
  background: var(--bg-accent);
  color: var(--fg);
  text-align: center;
  transition: background .2s linear;
}

.header-section,
.main-section {
  max-width: 35rem;
  padding: 2.2rem 1.6rem;
  border-radius: 1em;
}

/* Dark mode toggle */

.btn-theme {
  position: absolute;
  font-size: 1.5rem;
  background: var(--bg);
  color: var(--fg-accent);
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  --fa-display: grid;
  place-content: center center;
}

.rotate {
  -moz-transition: transform .5s linear;
  -webkit-transition: transform .5s linear;
  transition: transform .5s linear;
}

.rotate.triggered {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}


/* Header */

.header-section {
  background: var(--secondary);
  color: var(--base);
}

.page-title {
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: -0.03em;
  margin-bottom: 0.4em;
}

.age-input {
  display: grid;
  justify-content: center;
  gap: 0.3em;
  font-size: 0.8rem;
  color: var(--secondary-accent);
  margin-block: 2em;
}

#age {
  background: transparent;
  border: 2px solid var(--secondary-accent);
  border-radius: 0.2em;
  text-align: center;
  color: var(--base);
  font-size: 3.6rem;
  font-weight: 800;
  padding: 0.1em;
  width: 2.5ch;
  max-width: 100%;
}

#age::placeholder {
  color: var(--secondary-accent);
}


.radio-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
}

.radio {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  color: var(--secondary-accent);
  width: 0.8em;
  height: 0.8em;
  border: 0.15em solid var(--secondary-accent);
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center center;
}

input[type="radio"]::before {
  content: "";
  width: 0.2em;
  height: 0.2em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--base);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.btn-convert {
  padding: 0.5em 1.6em;
  background: var(--base);
  color: var(--btn-text);
  border: 2px solid transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  margin-top: 1.5em;
  font-weight: 500;
}

.btn-convert:hover {
  background: var(--secondary);
  color: var(--base);
  border: 2px solid var(--secondary-accent);
}

.btn-convert:active {
  transform: translateY(1.5px);
}



/* Main section */

.result-container {
  background: var(--bg);
  font-size: 0.875rem;
  padding: 1.3em 5em;
  line-height: 20px;
  border-radius: 1em;
}

.result-title {
  color: var(--fg-accent);
  margin-block: 0.4em;
  font-weight: 600;
}